.section--border--container {
    padding: 0 8vw 0 8vw;

    .section--separator {
        height: 1px;
        background: hsla(0,0%,94.1%,.1);
    }

    .clients--section {
        padding: 6vw 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .clients--section--heading {
            color: #858585;
            font-size: 1.125rem;
            font-weight: 400;
        }

        .clients--ul--container {
            display: flex;
            flex-direction: column;

            .clients--ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                font-size: 1.375rem;
                font-weight: 300;
                line-height: 35px;
                color: $white;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section--border--container {
        .clients--section {
            .clients--ul--container {
                flex-direction: row;

                .clients--ul {
                    flex: 0 0 41.6667%;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .section--border--container {
        padding: 0 12vw 0 12vw;

        .clients--section {
            flex-direction: row;

            .clients--section--heading {
                margin-top: .675vw;
                flex: 0 0 33.33333%;
            }

            .clients--ul--container {
                gap: 0;

                .clients--ul {
                    min-width: 16.125rem;
                    line-height: 1.6;
                }
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .section--border--container {
        .clients--section {
            .clients--ul--container {
                .clients--ul {
                    font-size: 1.66667vw;
                    line-height: 3.33333vw;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .section--border--container {
        .clients--section {
            .clients--ul--container {
                gap: 3rem;

                .clients--ul {
                    min-width: 17.5rem;
                    font-size: 1.66667vw;
                    line-height: 3.33333vw;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .section--border--container {
        .clients--section {
            .clients--section--heading {
                flex: 0 0 40%;
            }

            .clients--ul--container {
                .clients--ul {
                    min-width: 17.5rem;
                    flex: unset;
                    font-size: 1.5rem;
                    line-height: 48px;
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .section--border--container {
        .clients--section {
            .clients--ul--container {
                gap: 9rem;
            }
        }
    }
}