footer {
    padding: 2rem 8vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;


    .footer--lets--talk--link {
        font-size: 2.3125rem;
        font-family: circular-bold;
        letter-spacing: -1.73px;
        line-height: 41px;
        text-decoration: none;
        
        h4 {
            color: $white;
        }

        span {
            color: $red;
        }
    }

    .socials--locations--container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .locations--container {
            display: flex;

            h5 {
                color: #858585;
                font-size: 1.125rem;
                font-weight: 400;
                margin-right: 2rem;
            }
        }

        .socials--container {
            display: flex;

            .nugs--container {
                display: flex;
                gap: 3.5px;
                margin-right: 32px;

                .plus {
                    height: 20px;
                    width: 20px;
                    background: $white;
                    border-radius: 20px;
	                transition: .2s;
                    display: grid;
                    place-content: center;
                    position: relative;

                    span {
                        font-size: 1rem;
                        position: absolute;
                        top: 45%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-weight: bold;
	                    transition: .2s;
                    }
                }
                
                .nugs {
                    fill: #fefefe;
                    transition: .2s;
                }
            
                &:hover {
                    .plus {
                        opacity: .55;
	                    transition: .2s;

                        span {
                            font-size: 1.125rem;
	                        transition: .2s;
                        }
                    }

                    .nugs {
                        opacity: .55;
                        transition: .2s;
                    }
                }
            }

            .tw, .li, .ig {
                margin-right: 32px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        padding: 4rem 8vw;
        gap: 2.5rem;

        .footer--lets--talk--link {
            font-size: 4rem;
            letter-spacing: -3px;
            line-height: 66px;
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        padding: 5rem 12vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .footer--lets--talk--link {
            font-size: 2.3125rem;
            letter-spacing: -1.73px;
            line-height: 41px;
            transition: .2s;
            // animation-name: opacity;
            // animation-duration: 2s;

            @keyframes opacity {
                0% {
                    opacity: 0;
                }

                25% {
                    opacity: 0;
                }

                50% {
                    opacity: 0;
                }

                75% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            &:hover {
                box-shadow: 0vw 0vh 50rem 100vw rgba(0,0,0,0.5);
                background: rgba(0,0,0,0.5);
                transition: .2s;
            }


        }

        .socials--locations--container {
            gap: 1rem;
            align-items: flex-end;
        }
    }
}

@media screen and (min-width: 1280px) {
    footer {
        .footer--lets--talk--link {
            font-size: 4rem;
            letter-spacing: -3px;
            line-height: 66px;
        }
    }
}