header {
    padding: 10vw 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav--link {
        color: $white;
        text-decoration: none;
        font-size: 1.0625rem;
        line-height: 30px;
        height: 30px;
        background: transparent;

        span {
            margin-left: .5rem;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        padding: 9.5vw 6.5vw;

        .nav--link {
            font-size: 1.25rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 100px 12vw;

        .nav--link {
            display: inline-block;
            transition: .2s ease-out;

            span {
                
                display: inline-block;
                transition: .2s ease-out;
            }

            &:hover {
                display: inline-block;
                background: rgba(0, 0, 0, 0.5);
                transform: scale(1.1);
                transform: translateX(5px);
                box-shadow: -50vw 50vh 50rem 100vw rgba(0,0,0,0.5);
                transition: .2s;
    
                span {
                    display: inline-block;
                    transform: translateX(5px);
                    transition: .2s ease-in-out;
                }
            }
        }
    }
}