header {
    padding: 10vw 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav--link {
        color: $white;
        text-decoration: none;
        font-size: 1.0625rem;
        line-height: 30px;
        height: 30px;
        background: transparent;
        display: flex;
        gap: 1rem;
    }
}

@media screen and (min-width: 768px) {
    header {
        padding: 9.5vw 6.5vw;

        .nav--link {
            font-size: 1.25rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 100px 12vw;
    }
}