main {
    display: flex;
    flex-direction: column;
    
    .hero--heading {
        color: $white;
        padding: 30vh 8vw 9% 8vw;
        font-family: youngserifregular;
        font-weight: 400;
        font-size: 2.3125rem;
        line-height: 45px;
        letter-spacing: -.59px;
    }
}