main {
    display: flex;
    flex-direction: column;
    
    .hero--heading {
        color: $white;
        padding: 30vh 8vw 9% 8vw;
        font-family: youngserifregular;
        font-weight: 400;
        font-size: 2.3125rem;
        line-height: 45px;
        letter-spacing: -.59px;

        .span1 {
            animation-name: fadein;
            animation-duration: 4s;
        }

        .span2 {
            animation-name: fadein;
            animation-duration: 4.25s;
        }

        .span3 {
            animation-name: fadein;
            animation-duration: 4.5s;
        }

        .span4 {
            animation-name: fadein;
            animation-duration: 4.75s;
        }

        .span5 {
            animation-name: fadein;
            animation-duration: 5s;
        }

        .span6 {
            animation-name: fadein;
            animation-duration: 5.25s;
        }
        
        @keyframes fadein {
            0% {
                opacity: 0;
            }

            25% {
                opacity: 0;
            }

            50% {
                opacity: 0;
            }

            75% {
                opacity: 0;
            }
        
            100% {
                opacity: 100;
            }
        }
    }

    .hero--slideshow {
        margin-bottom: 9%;
        position: relative;
        height: calc(82.5vw - 80px);
        background: url("https://images.prismic.io/red-square-site/7ee825e0906b2918e50a9f963c50198b5c26b27d_flip-thumb.jpg?auto=compress,format");
        background-size: 100% 100%;
        animation-name: bgslideshow;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;

        @keyframes bgslideshow {
            0% {
                background: url("https://images.prismic.io/red-square-site/7ee825e0906b2918e50a9f963c50198b5c26b27d_flip-thumb.jpg?auto=compress,format");
                background-size: 100% 100%;
            }

            9.09% {
                background: url("https://images.prismic.io/red-square-site/fdc93bb6-72be-46e1-9a39-a7098faabb64_snickers-thumb.jpg");
                background-size: 100% 100%;
                
            }

            18.18%{
                background: url("https://images.prismic.io/red-square-site/cb3e7330e12dd68d995b4e1fe2735a00949853c1_red-work-thumbs.jpg?auto=compress,format");
                background-size: 100% 100%;
                
            }

            27.27% {
                background: url("https://images.prismic.io/red-square-site/bc411035-c8b0-4ad8-8d57-345b2c74a672_red-case-kovitz-thumbnail.jpg?auto=compress,format");
                background-size: 100% 100%;
                
            }

            36.36% {
                background: url("https://images.prismic.io/red-square-site/f4eb0f86-3bbd-47b9-a105-371ad8f7fd70_UA-Thumbnail.jpg?auto=compress,format");
                background-size: 100% 100%;

            }

            45.45% {
                background: url("https://images.prismic.io/red-square-site/5d5746b1-b8a6-4b55-be71-50203021c521_RED_Website_IceBox_Cover.jpg?auto=compress,format");
                background-size: 100% 100%;

            }

            54.54% {
                background: url("https://images.prismic.io/red-square-site/3daacb44-40a6-4213-83c2-69c76683ba79_cne-thumb.jpg?auto=compress,format");
                background-size: 100% 100%;
                
            }

            63.63% {
                background: url("https://images.prismic.io/red-square-site/992de052-dc47-4a44-bc24-039288ede276_hibbett-thumb.jpg?auto=compress,format");
                background-size: 100% 100%;
                
            }

            72.72% {
                background: url("https://images.prismic.io/red-square-site/6a1afdaa20e7d4a42952a5594906d6d06542662b_bad-testing-thumb.jpg?auto=compress,format");
                background-size: 100% 100%;
                
            }

            81.81% {
                background: url("https://images.prismic.io/red-square-site/01789f8c-0b69-4ce8-905e-fc1e47d9fbbe_red-work-soco-thumbnail.jpg?auto=compress,format");
                background-size: 100% 100%;
                
            }

            90.90% {
                background: url("https://images.prismic.io/red-square-site/49e012f2-f7b2-418a-a7a5-3db5f4ae3d5c_RED_Website_WaffleStop_Hero.jpg?auto=compress,format");
                background-size: 100% 100%;
                
            }

            99.99% {
                background: url("https://images.prismic.io/red-square-site/57925d5b-543a-4132-9f4a-6032390986f5_reeses-thumbnail.jpg?auto=compress,format");
                background-size: 100% 100%;
                
            }
        }
    }
}

@media screen and (min-width: 375px) {
    main {
        .hero--slideshow {
            height: calc(82.5vw - 95px);
        }
    }
}

@media screen and (min-width: 425px) {
    main {

        .hero--heading {
            font-size: 2.1875rem;
        }

        .hero--slideshow {
            height: calc(82.5vw - 105px);
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        
        .hero--heading {
            padding: 25vh 6.5vw 9% 6.5vw;
            font-size: 4.25rem;
            line-height: 72px;
        }

        .hero--slideshow {
            height: calc(65vw - 105px);
        }
    }
}

@media screen and (min-width: 1024px) {
    main {

        .hero--heading {
            padding: 22.5vh 12vw 9% 12vw;
            font-size: 6.94444vw;
            line-height: 6.8vw;
        }

        .hero--slideshow {
            height: calc(65vw - 150px);
            margin: 0 5vw;
            border-radius: .375rem;
            transition: .2s;

            &:hover {
                transform: scale(.99);
                transition: .2s;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    main {
        .hero--slideshow {
            height: calc(65vw - 175px);
        }
    }
}

@media screen and (min-width: 1440px) {
    main {

        .hero--heading {
            padding: 22.5vh 12vw 9% 12vw;
            font-size: 6.25rem;
            line-height: 100px;
        }

        .hero--slideshow {
            margin: 0 7vw;
            height: calc(65vw - 200px);
            max-height: 750px;
        }
    }
}

@media screen and (min-width: 1600px) {
    main {
        .hero--slideshow {
            max-height: 950px;
        }
    }
}