.idea--section {
    padding: 10% 8vw 20vw 8vw;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .idea--section--h2 {
        font-family: circular-bold;
        font-size: 1.875rem;
        line-height: 40px;
        letter-spacing: -1.41px;
    }

    .idea--section--p {
        font-size: 1.375rem;
        font-weight: 300;
        line-height: 35px;
    }
}

@media screen and (min-width: 768px) {
    .idea--section {
        padding: 5% 6.5vw 10vw 6.5vw;

        .idea--section--h2 {
            font-size: 3.125rem;
            letter-spacing: -3px;
            line-height: 60px;
        }

        .idea--section--p {
            font-size: 1.5rem;
            line-height: 40px;
        }
    }
}