.work--container {
    margin-top: 1rem;
    background: url("https://images.prismic.io/red-square-site/7ee825e0906b2918e50a9f963c50198b5c26b27d_flip-thumb.jpg?auto=compress,format");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 180px;
    max-height: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .blur--bg {
        position: absolute;
        backdrop-filter: blur(.375rem);
        width: 100%;
        z-index: 0;
        height: 100%;
    }

    h3, a {
        position: relative;
        z-index: 1;
    }

    h3 {
        display: none;
    }

    a {
        display: flex;
        gap: 10px;
        font-size: 1.0625rem;
        color: $white;
        text-decoration: none;
    }
}

@media screen and (min-width: 375px) {
    .work--container {
        min-height: 213px; 
    }
}

@media screen and (min-width: 425px) {
    .work--container {
        min-height: 240px;
    }
}

@media screen and (min-width: 768px) {
    .work--container {
        margin: 5rem 8vw 0 8vw;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
        min-height: unset;
        height: 75px;

        .blur--bg {
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        h3 {
            display: block;
            font-size: 1.5rem;
            color: $white;
            font-weight: 400;
        }
        
        a {
            font-size: 1.25rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .work--container {
        padding: 0 4rem;
        transition: .2s;

        &:hover {
            transform: scaleY(1.1);
            transition: .2s;
            
            .blur--bg {
                backdrop-filter: unset;
                transition: .2s;
            }
        }
    }
}