@font-face {
    font-family: youngserifregular;
    src: url(../fonts/YoungSerif-Regular.otf);
}

@font-face {
    font-family: circular-bold;
    src: url(../fonts/lineto-circular-bold.woff2);
}

@font-face {
    font-family: circular-book;
    src: url(../fonts/lineto-circular-book.woff2);
}

$red: #e31e3c;
$white: #fefefe;
$black: #111111;
$gray: #858585;

$blue: #1779ba;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: circular-book, sans-serif;
    background-color: $black;
}

img {
    max-width: 100%;
    height: auto;
}