@font-face {
  font-family: youngserifregular;
  src: url(../fonts/YoungSerif-Regular.otf);
}

@font-face {
  font-family: circular-bold;
  src: url(../fonts/lineto-circular-bold.woff2);
}

@font-face {
  font-family: circular-book;
  src: url(../fonts/lineto-circular-book.woff2);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: circular-book, sans-serif;
  background-color: #111111;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 10vw 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav--link {
  color: #fefefe;
  text-decoration: none;
  font-size: 1.0625rem;
  line-height: 30px;
  height: 30px;
  background: transparent;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header .nav--link span {
  margin-left: .5rem;
}

@media screen and (min-width: 768px) {
  header {
    padding: 9.5vw 6.5vw;
  }
  header .nav--link {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 100px 12vw;
  }
  header .nav--link {
    display: inline-block;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  header .nav--link span {
    display: inline-block;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  header .nav--link:hover {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -webkit-box-shadow: -50vw 50vh 50rem 100vw rgba(0, 0, 0, 0.5);
            box-shadow: -50vw 50vh 50rem 100vw rgba(0, 0, 0, 0.5);
    -webkit-transition: .2s;
    transition: .2s;
  }
  header .nav--link:hover span {
    display: inline-block;
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .hero--heading {
  color: #fefefe;
  padding: 45vh 8vw 9% 8vw;
  font-family: youngserifregular;
  font-weight: 400;
  font-size: 2.3125rem;
  line-height: 45px;
  letter-spacing: -.59px;
}

main .hero--heading .span1 {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

main .hero--heading .span2 {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 4.25s;
          animation-duration: 4.25s;
}

main .hero--heading .span3 {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
}

main .hero--heading .span4 {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 4.75s;
          animation-duration: 4.75s;
}

main .hero--heading .span5 {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

main .hero--heading .span6 {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 5.25s;
          animation-duration: 5.25s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

main .hero--slideshow {
  margin-bottom: 9%;
  position: relative;
  height: calc(82.5vw - 80px);
  background: url("https://images.prismic.io/red-square-site/7ee825e0906b2918e50a9f963c50198b5c26b27d_flip-thumb.jpg?auto=compress,format");
  background-size: 100% 100%;
  -webkit-animation-name: bgslideshow, slideup;
          animation-name: bgslideshow, slideup;
  -webkit-animation-duration: 2.5s, 5s;
          animation-duration: 2.5s, 5s;
  -webkit-animation-iteration-count: infinite, 1;
          animation-iteration-count: infinite, 1;
}

main .hero--slideshow.no--animation {
  -webkit-animation-name: bgslideshow;
          animation-name: bgslideshow;
  -webkit-animation-duration: 2.5s, 5s;
          animation-duration: 2.5s, 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

main .hero--slideshow .slideshow {
  -webkit-animation-name: slideup;
          animation-name: slideup;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideup {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

main .hero--slideshow a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

@-webkit-keyframes bgslideshow {
  0% {
    background: url("https://images.prismic.io/red-square-site/7ee825e0906b2918e50a9f963c50198b5c26b27d_flip-thumb.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  9.09% {
    background: url("https://images.prismic.io/red-square-site/fdc93bb6-72be-46e1-9a39-a7098faabb64_snickers-thumb.jpg");
    background-size: 100% 100%;
  }
  18.18% {
    background: url("https://images.prismic.io/red-square-site/cb3e7330e12dd68d995b4e1fe2735a00949853c1_red-work-thumbs.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  27.27% {
    background: url("https://images.prismic.io/red-square-site/bc411035-c8b0-4ad8-8d57-345b2c74a672_red-case-kovitz-thumbnail.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  36.36% {
    background: url("https://images.prismic.io/red-square-site/f4eb0f86-3bbd-47b9-a105-371ad8f7fd70_UA-Thumbnail.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  45.45% {
    background: url("https://images.prismic.io/red-square-site/5d5746b1-b8a6-4b55-be71-50203021c521_RED_Website_IceBox_Cover.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  54.54% {
    background: url("https://images.prismic.io/red-square-site/3daacb44-40a6-4213-83c2-69c76683ba79_cne-thumb.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  63.63% {
    background: url("https://images.prismic.io/red-square-site/992de052-dc47-4a44-bc24-039288ede276_hibbett-thumb.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  72.72% {
    background: url("https://images.prismic.io/red-square-site/6a1afdaa20e7d4a42952a5594906d6d06542662b_bad-testing-thumb.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  81.81% {
    background: url("https://images.prismic.io/red-square-site/01789f8c-0b69-4ce8-905e-fc1e47d9fbbe_red-work-soco-thumbnail.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  90.90% {
    background: url("https://images.prismic.io/red-square-site/49e012f2-f7b2-418a-a7a5-3db5f4ae3d5c_RED_Website_WaffleStop_Hero.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  99.99% {
    background: url("https://images.prismic.io/red-square-site/57925d5b-543a-4132-9f4a-6032390986f5_reeses-thumbnail.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
}

@keyframes bgslideshow {
  0% {
    background: url("https://images.prismic.io/red-square-site/7ee825e0906b2918e50a9f963c50198b5c26b27d_flip-thumb.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  9.09% {
    background: url("https://images.prismic.io/red-square-site/fdc93bb6-72be-46e1-9a39-a7098faabb64_snickers-thumb.jpg");
    background-size: 100% 100%;
  }
  18.18% {
    background: url("https://images.prismic.io/red-square-site/cb3e7330e12dd68d995b4e1fe2735a00949853c1_red-work-thumbs.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  27.27% {
    background: url("https://images.prismic.io/red-square-site/bc411035-c8b0-4ad8-8d57-345b2c74a672_red-case-kovitz-thumbnail.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  36.36% {
    background: url("https://images.prismic.io/red-square-site/f4eb0f86-3bbd-47b9-a105-371ad8f7fd70_UA-Thumbnail.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  45.45% {
    background: url("https://images.prismic.io/red-square-site/5d5746b1-b8a6-4b55-be71-50203021c521_RED_Website_IceBox_Cover.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  54.54% {
    background: url("https://images.prismic.io/red-square-site/3daacb44-40a6-4213-83c2-69c76683ba79_cne-thumb.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  63.63% {
    background: url("https://images.prismic.io/red-square-site/992de052-dc47-4a44-bc24-039288ede276_hibbett-thumb.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  72.72% {
    background: url("https://images.prismic.io/red-square-site/6a1afdaa20e7d4a42952a5594906d6d06542662b_bad-testing-thumb.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  81.81% {
    background: url("https://images.prismic.io/red-square-site/01789f8c-0b69-4ce8-905e-fc1e47d9fbbe_red-work-soco-thumbnail.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  90.90% {
    background: url("https://images.prismic.io/red-square-site/49e012f2-f7b2-418a-a7a5-3db5f4ae3d5c_RED_Website_WaffleStop_Hero.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
  99.99% {
    background: url("https://images.prismic.io/red-square-site/57925d5b-543a-4132-9f4a-6032390986f5_reeses-thumbnail.jpg?auto=compress,format");
    background-size: 100% 100%;
  }
}

@media screen and (min-width: 375px) {
  main .hero--slideshow {
    height: calc(82.5vw - 95px);
  }
}

@media screen and (min-width: 425px) {
  main .hero--heading {
    font-size: 2.1875rem;
  }
  main .hero--slideshow {
    height: calc(82.5vw - 105px);
  }
}

@media screen and (min-width: 768px) {
  main .hero--heading {
    padding: 37.5vh 6.5vw 9% 6.5vw;
    font-size: 4.25rem;
    line-height: 72px;
  }
  main .hero--slideshow {
    height: calc(65vw - 105px);
  }
}

@media screen and (min-width: 1024px) {
  main .hero--heading {
    padding: 30vh 12vw 9% 12vw;
    font-size: 6.94444vw;
    line-height: 6.8vw;
  }
  main .hero--slideshow {
    height: calc(65vw - 150px);
    margin: 0 5vw;
    border-radius: .375rem;
    -webkit-transition: .2s;
    transition: .2s;
  }
  main .hero--slideshow:hover {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-transition: .2s;
    transition: .2s;
  }
}

@media screen and (min-width: 1280px) {
  main .hero--slideshow {
    height: calc(65vw - 175px);
  }
}

@media screen and (min-width: 1440px) {
  main .hero--heading {
    padding: 22.5vh 12vw 9% 12vw;
    font-size: 6.25rem;
    line-height: 100px;
  }
  main .hero--slideshow {
    margin: 0 7vw;
    height: calc(65vw - 200px);
    max-height: 750px;
  }
}

@media screen and (min-width: 1600px) {
  main .hero--slideshow {
    max-height: 900px;
  }
}

.idea--section {
  padding: 10% 8vw 20vw 8vw;
  color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.idea--section .idea--section--h2 {
  font-family: circular-bold;
  font-size: 1.875rem;
  line-height: 40px;
  letter-spacing: -1.41px;
}

.idea--section .idea--section--p {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 35px;
}

@media screen and (min-width: 768px) {
  .idea--section {
    padding: 5% 6.5vw 10vw 6.5vw;
    gap: 4.65278vw;
  }
  .idea--section .idea--section--h2 {
    font-size: 3.125rem;
    letter-spacing: -3px;
    line-height: 60px;
  }
  .idea--section .idea--section--p {
    font-size: 1.5rem;
    line-height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .idea--section {
    padding: 10% 12vw 10% 12vw;
  }
  .idea--section .idea--section--h2 {
    font-size: 4.51389vw;
    line-height: 5.41667vw;
  }
  .idea--section .idea--section--p {
    font-size: 2.36111vw;
    line-height: 3.81944vw;
  }
}

@media screen and (min-width: 1440px) {
  .idea--section {
    gap: 67px;
  }
  .idea--section .idea--section--h2 {
    font-size: 4rem;
    line-height: 80px;
  }
  .idea--section .idea--section--p {
    font-size: 2.125rem;
    line-height: 55px;
  }
}

.section--border--container {
  padding: 0 8vw 0 8vw;
}

.section--border--container .section--separator {
  height: 1px;
  background: rgba(240, 240, 240, 0.1);
  -webkit-animation-name: reveal;
          animation-name: reveal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.section--border--container .clients--section {
  padding: 6vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.section--border--container .clients--section .clients--section--heading {
  color: #858585;
  font-size: 1.125rem;
  font-weight: 400;
}

.section--border--container .clients--section .clients--ul--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section--border--container .clients--section .clients--ul--container .clients--ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 35px;
  color: #fefefe;
}

@media screen and (min-width: 768px) {
  .section--border--container .clients--section .clients--ul--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section--border--container .clients--section .clients--ul--container .clients--ul {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6667%;
            flex: 0 0 41.6667%;
  }
}

@media screen and (min-width: 1024px) {
  .section--border--container {
    padding: 0 12vw 0 12vw;
  }
  .section--border--container .clients--section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section--border--container .clients--section .clients--section--heading {
    margin-top: .675vw;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .section--border--container .clients--section .clients--ul--container {
    gap: 0;
  }
  .section--border--container .clients--section .clients--ul--container .clients--ul {
    min-width: 16.125rem;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1025px) {
  .section--border--container .clients--section .clients--ul--container .clients--ul {
    font-size: 1.66667vw;
    line-height: 3.33333vw;
  }
}

@media screen and (min-width: 1280px) {
  .section--border--container .clients--section .clients--ul--container {
    gap: 3rem;
  }
  .section--border--container .clients--section .clients--ul--container .clients--ul {
    min-width: 17.5rem;
    font-size: 1.66667vw;
    line-height: 3.33333vw;
  }
}

@media screen and (min-width: 1440px) {
  .section--border--container .clients--section .clients--section--heading {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  .section--border--container .clients--section .clients--ul--container .clients--ul {
    min-width: 17.5rem;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    font-size: 1.5rem;
    line-height: 48px;
  }
}

@media screen and (min-width: 1600px) {
  .section--border--container .clients--section .clients--ul--container {
    gap: 9rem;
  }
}

footer {
  padding: 2rem 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

footer .footer--lets--talk--link {
  font-size: 2.3125rem;
  font-family: circular-bold;
  letter-spacing: -1.73px;
  line-height: 41px;
  text-decoration: none;
}

footer .footer--lets--talk--link h4 {
  color: #fefefe;
}

footer .footer--lets--talk--link span {
  color: #e31e3c;
}

footer .socials--locations--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

footer .socials--locations--container .locations--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .socials--locations--container .locations--container h5 {
  color: #858585;
  font-size: 1.125rem;
  font-weight: 400;
  margin-right: 2rem;
}

footer .socials--locations--container .socials--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .socials--locations--container .socials--container .nugs--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5px;
  margin-right: 32px;
}

footer .socials--locations--container .socials--container .nugs--container .plus {
  height: 20px;
  width: 20px;
  background: #fefefe;
  border-radius: 20px;
  -webkit-transition: .2s;
  transition: .2s;
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: relative;
}

footer .socials--locations--container .socials--container .nugs--container .plus span {
  font-size: 1rem;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  -webkit-transition: .2s;
  transition: .2s;
}

footer .socials--locations--container .socials--container .nugs--container .nugs {
  fill: #fefefe;
  -webkit-transition: .2s;
  transition: .2s;
}

footer .socials--locations--container .socials--container .nugs--container:hover .plus {
  opacity: .55;
  -webkit-transition: .2s;
  transition: .2s;
}

footer .socials--locations--container .socials--container .nugs--container:hover .plus span {
  font-size: 1.125rem;
  -webkit-transition: .2s;
  transition: .2s;
}

footer .socials--locations--container .socials--container .nugs--container:hover .nugs {
  opacity: .55;
  -webkit-transition: .2s;
  transition: .2s;
}

footer .socials--locations--container .socials--container .tw, footer .socials--locations--container .socials--container .li, footer .socials--locations--container .socials--container .ig {
  margin-right: 32px;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 4rem 8vw;
    gap: 2.5rem;
  }
  footer .footer--lets--talk--link {
    font-size: 4rem;
    letter-spacing: -3px;
    line-height: 66px;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 5rem 12vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer .footer--lets--talk--link {
    font-size: 2.3125rem;
    letter-spacing: -1.73px;
    line-height: 41px;
    -webkit-transform: rotateY(0deg) rotateX(0deg) scale(1);
            transform: rotateY(0deg) rotateX(0deg) scale(1);
    -webkit-transition: .2s;
    transition: .2s;
  }
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  footer .footer--lets--talk--link:hover {
    -webkit-box-shadow: 0vw 0vh 50rem 100vw rgba(0, 0, 0, 0.5);
            box-shadow: 0vw 0vh 50rem 100vw rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .2s;
    transition: .2s;
  }
  footer .socials--locations--container {
    gap: 1rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 1280px) {
  footer .footer--lets--talk--link {
    font-size: 4rem;
    letter-spacing: -3px;
    line-height: 66px;
  }
}

.work--container {
  margin-top: 1rem;
  background: url("https://images.prismic.io/red-square-site/7ee825e0906b2918e50a9f963c50198b5c26b27d_flip-thumb.jpg?auto=compress,format");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 180px;
  max-height: 240px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work--container .test {
  position: absolute;
  -webkit-backdrop-filter: blur(0.375rem);
          backdrop-filter: blur(0.375rem);
  width: 100%;
  z-index: 0;
  height: 180px;
}

.work--container h3, .work--container a {
  position: relative;
  z-index: 1;
}

.work--container h3 {
  display: none;
}

.work--container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 1.0625rem;
  color: #fefefe;
  text-decoration: none;
}
/*# sourceMappingURL=general.css.map */